{% extends 'base.html' %}

{% block header_text %}Your To-Do list{% endblock %}

{% block form_action %}{% url 'view_list' list.id %}{% endblock %}

{% block table %}
    <h3 id="id_list_owner">{{ list.owner.email }}</h3>
    <table id="id_list_table" class="table">
        {% for item in list.item_set.all %}
            <tr><td>{{ forloop.counter }}: {{ item.text }}</td></tr>
        {% endfor %}
    </table>
    <form method="POST" action="{% url 'share_list' list.id %}">
        <input type="text" name="sharee" placeholder="your-friend@example.org">
        {% csrf_token %}
    </form>
    <ul>
        {% for user in list.shared_with.all %}
            <li class="list-sharee">{{ user.email }}</li>
        {% endfor %}
    </ul>
{% endblock %}